h5 {
  color: var(--bs-heading-color);
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 1px solid var(--bs-border-color);
  padding-bottom: 0.5rem;
}

h6 {
  color: var(--bs-heading-color);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.btn-outline {
  border-color: var(--bs-border-color);
  color: var(--bs-body-color);
  
  &:hover {
    background-color: var(--bs-secondary-bg);
    border-color: var(--bs-border-color);
    color: var(--bs-body-color);
  }
}
