<table mat-table [dataSource]="dataSource" matSort>
	<ng-container matColumnDef="private">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Private </th>
		<td mat-cell *matCellDef="let server"> <i class="fas fa-lock" *ngIf="server.private"></i></td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
		<td mat-cell *matCellDef="let server"> {{server.name}} </td>
	  </ng-container>
	  <ng-container matColumnDef="ping">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Ping </th>
		<td mat-cell *matCellDef="let server"> {{server.ping}} </td>
	  </ng-container>
	  <ng-container matColumnDef="players">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Players </th>
		<td mat-cell *matCellDef="let server"> {{server.players}} </td>
	  </ng-container>
	  <ng-container matColumnDef="wads">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> WADs </th>
		<td mat-cell *matCellDef="let server"> {{server.wads}} </td>
	  </ng-container>
	  <ng-container matColumnDef="map">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Map </th>
		<td mat-cell *matCellDef="let server"> {{server.map}} </td>
	  </ng-container>
	  <ng-container matColumnDef="gametype">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
		<td mat-cell *matCellDef="let server"> {{server.gametype}} </td>
	  </ng-container>
	  <ng-container matColumnDef="iwad">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Game </th>
		<td mat-cell *matCellDef="let server"> {{server.iwad}} </td>
	  </ng-container>
	  <ng-container matColumnDef="ip">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
		<td mat-cell *matCellDef="let server"> {{server.ip}} </td>
	  </ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row-dense"></tr>
</table>
<!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
